
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated.cpg
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated.dbf
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated.prj
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated.qmd
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated.shp
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated.shx
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated_new.cpg
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated_new.dbf
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated_new.prj
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated_new.qmd
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated_new.shp
backend/fire_outbreak_project/fire_outbreak_app/road_data/ghana_osm_road_free_updated_new.shx
frontend/.platform-commands.json
