./nginx_config/nginx.prod.conf
./nginx_dockerfile/Dockerfile.prod
./nginx_config/nginx.prod.conf
./nginx_dockerfile/Dockerfile.prod
./nginx_config/nginx.prod.conf
./nginx_dockerfile/Dockerfile.prod
./nginx_config/nginx.prod.conf
./nginx_dockerfile/Dockerfile.prod
./nginx_config/nginx.prod.conf
./nginx_dockerfile/Dockerfile.prod
./nginx_config/nginx.prod.conf
./nginx_dockerfile/Dockerfile.prod
./nginx_config/nginx.prod.conf
./nginx_dockerfile/Dockerfile.prod
